@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap");
.btn-general, .btn-compra, .btn-error {
  width: 150px;
  height: 30px;
  background: linear-gradient(to bottom, #3b3c3b, #9a9797);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #242222;
  font-weight: 600; }
  .btn-general:hover, .btn-compra:hover, .btn-error:hover {
    background-color: #4f524f;
    color: #F5F0F0; }

.btn-compra, .btn-error {
  text-decoration: none;
  width: 100%; }

.btn-error {
  width: 50%;
  border: 2px solid #a42126;
  color: #a42126;
  background: #F5F0F0; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  font-weight: 800;
  text-shadow: black 0.1em 0.1em 0.2em;
  color: #F5F0F0;
  padding: 1%; }

h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
  color: #F5F0F0; }

p {
  font-family: "Roboto", sans-serif;
  color: #F5F0F0; }

.bgFondo {
  background-color: #242222; }

.bgGradient3 {
  background: radial-gradient(circle, rgba(73, 70, 70, 0.729027) 0%, #ecebeb 100%, #e9e9e9 100%); }

.bgGradient {
  background: linear-gradient(180deg, rgba(73, 70, 70, 0.729027) 0%, #ecebeb 100%, #e9e9e9 100%); }

.colorFooter2 {
  background-color: rgba(0, 0, 0, 0.2); }

.colorLi {
  background-color: rgba(242, 231, 231, 0.2); }

.colorCont {
  background-color: rgba(242, 231, 231, 0.051); }

.imagenEscritos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  float: left;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-top: 2%; }

.imagenBiografia {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  float: left;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-top: 1%; }

.flexEscritos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%; }

.flexBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin-top: 3%;
  margin-bottom: 7%;
  padding-top: 2%;
  padding-bottom: 4%;
  border-radius: 15px; }

.navbar-toggler {
  border: none; }

.bordeTop {
  border-top: 3px solid white;
  padding-top: 2%; }

.escritos {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 2em;
  color: #F5F0F0;
  padding: 5%; }

.fondoTitle {
  background-repeat: round;
  border-radius: 10px;
  background-image: url(../img/headerescritos.webp); }

div div section p {
  color: #242222; }

div div section h5 {
  color: #242222; }

.imagenLibros {
  width: 300px;
  height: 500px; }

.fondoLibros {
  background-image: url(../img/iconoLibros.png); }

.fondoLibros2 {
  background-repeat: round;
  border-radius: 10px;
  background-image: url(../img/libros.webp); }

.fondoContac {
  background-repeat: round;
  border-radius: 10px;
  background-image: url(../img/contactos1.webp); }

.textWhite {
  color: #F5F0F0; }

.fondoBio {
  background-repeat: round;
  border-radius: 10px;
  background-image: url(../img/fondobio.webp); }

.imgError {
  width: 100vw;
  height: 100vh; }

.colorError p {
  color: #a42126;
  font-size: 1em;
  font-weight: 600;
  line-height: 1em;
  background: gainsboro; }

.fondoError {
  background: #242222;
  background-image: url(../img/error.png); }

.scale:hover {
  transform: scaleX(1.05);
  cursor: pointer;
  transition: 3s; }

.scaleBio:hover {
  transform: scale(1.03);
  background: #242222;
  cursor: pointer;
  transition: 3s; }

.scaleFooter:hover {
  transform: scale(1.3);
  border-color: #242222;
  cursor: pointer;
  transition: 2s; }

link {
  margin: 2rem 1.5rem;
  display: flex;
  justify-content: space-evenly; }

.link a {
  letter-spacing: 2px;
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
  position: relative; }
  .link a:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #3d3d3d;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out; }
  .link a:hover:after {
    transform-origin: left;
    transform: scaleX(1); }

div p.one:first-letter {
  font-size: 3rem;
  font-weight: 900; }

@media (min-width: 280px) and (max-width: 375px) {
  nav img {
    width: 170px; } }

@media (max-width: 767px) {
  .flexBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    margin: 0;
    padding: 1%;
    border-radius: 0; } }

@media (max-width: 768px) {
  .fondoBio {
    background-repeat: round;
    border-radius: 10px;
    background-image: url(../img/fondobio2.webp); } }

@media (max-width: 576px) {
  .fondoBio {
    background-repeat: round;
    border-radius: 10px;
    background-image: url(../img/fondobio3.webp); } }
