//animaciones

.scale{
    &:hover{
        transform: scaleX(1.05);
        cursor: pointer;
        transition: 3s;
    }
}

.scaleFooter{
    &:hover{
        transform: scale(1.3);
        border-color: $black;
        cursor: pointer;
        transition: 2s;
    }
}

link{
    margin: 2rem 1.5rem;
    display: flex;
    justify-content: space-evenly;
}
    .link{
        a{
            letter-spacing: 2px;
            text-decoration: none;
            color: #333;
            font-size: 1.5rem;
            position: relative;
            
            &:after{
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 100%;
                background: rgb(61, 61, 61);
                transform-origin: right;
                transform: scaleX(0);
                transition: transform 0.2s ease-in-out;
            }
            &:hover:after{
                transform-origin: left;
                transform: scaleX(1);
            }
        }       
    }

//Pseudoclases

div{
    p.one{
            &:first-letter{
                font-size: 3rem;
                font-weight: 900;
            }
        }
    
}