@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');

//Reset

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//Title y <p>

    h1{
        @include titulos ($textXl, $boldXl, $white)
}

    h2,
    h3,
    h4,
    h5{
        font-family: $principalFont;
        color: $white;
    }

    p{
        font-family: $secundariaFont;
        color: $white;
    }

    //background

    .bgFondo{
        background-color: $black;
    }

    .bgGradient3{
        background: $navBar;
    }

    .bgGradient{
        background: $footerOne;
    }

    .colorFooter2{
        background-color: $footerTwo;
    }
    
    .colorLi{
        background-color: $cardOne;
    }

    .colorCont{
        background-color: $cardTwo;
    }

    //Display flex

    .imagenEscritos{
        @include flexImagen (2%, 100px)
    }
    

    .imagenBiografia{
        @include flexImagen (1%, 150px)
    }

    .flexEscritos{
        @include flexEscritos
    }

    .flexBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        margin-top: 3%;
        margin-bottom: 7%;
        padding-top: 2%;
        padding-bottom: 4%;
        border-radius: 15px;
    }

    //NavBar 

    .navbar-toggler{
        border: none;
    }
