//Extends

.btn-general{
    width: 150px;
    height: 30px;
    background: linear-gradient(to bottom, rgb(59, 60, 59), rgb(154, 151, 151) );
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    font-weight: $bold;
    &:hover{
        background-color: rgb(79, 82, 79);
        color: $white;
    }
}

.btn-compra{
    @extend .btn-general;
    text-decoration: none;
    width: 100%;
}

.btn-error{
    @extend .btn-compra;
    width: 30%;
    border:2px solid rgb(164, 33, 38);
    color: rgb(164, 33, 38);
    background: $white;
}