@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');

//fonts

$principalFont: 'Open Sans', sans-serif;
$secundariaFont: 'Roboto', sans-serif;

//text sizing
$textSm:.8em;
$textMd:1em;
$textLg:2em;
$textXl:3em;

//font - weight
$boldXl:800;
$bold:600;
$regular:400;
$light:300;


//clases

.bordeTop{
    border-top: 3px solid white;
    padding-top: 2%;
}

.escritoPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

.biografia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    }

    
