//Media queries

@media (min-width: 280px) and (max-width: 375px){
    nav img{
        width: 170px;
    }
}

@media (max-width: 767px)
{
    .flexBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: space-between;
        margin: 0;
        padding: 1%;
        border-radius: 0;
    }
}

@media (max-width: 768px){
    .fondoBio{
        @include fondoPages(url(../img/fondobio2.webp))
    }
}

@media (max-width: 576px){
    .fondoBio{
        @include fondoPages(url(../img/fondobio3.webp))
    }
}