    //Mixins

    @mixin texto($size, $interlineado, $color){
        font-family: $secundariaFont;
        font-size: $size;
        line-height: $interlineado;
        color: $color;
        padding: 5%;
    }

    @mixin titulos($size, $weight, $color) {
        font-family: $principalFont;
        font-size: $size;
        font-weight: $weight;
        text-shadow: black 0.1em 0.1em 0.2em;
        color: $color;
        padding: 1%;
    }

    @mixin fondoPages($imagen) {
        background-repeat: round;
        border-radius: 10px;
        background-image: $imagen;
    }

    @mixin flexEscritos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2%;
    }

    @mixin flexImagen($marginT, $width) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $width;
        float: left;
        margin-bottom: 2%;
        margin-right: 2%;
        margin-top: $marginT;
    }