<!doctype html>
<html lang="en">
    <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Meta SEO-->
    <meta name="description" content="Camila Malumbres, libros y escritos - Puede que alguno de estos escritos haya sido parido en un acto de desesperación y puede que otros provengan de una puja diferente a la mía">
    <meta name="author" content="Guido Quagliardi">
    <meta name="keywords" content="libros, cuentos, escritos, lectura, arte.">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Mi Css -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" href="../img/favicon.png">
    <title>Escritos - Cuentos - Camila Malumbres</title>
    </head>
<body class="bgFondo">

<div class="fondoTitle">
    <!-- inicia la NAV -->
<nav class="navbar navbar-expand-lg navbar-light fs-4 bgGradient3 sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">
            <img class="logo" src="../img/logo.svg" alt="Logo de Camila Malumbres - Libros y escritos - Autora - Los que no piden permiso">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="link navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="escritos.html">Escritos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="libros.html">Libros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="biografia.html">Biografía</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="contacto.html">Contacto</a>
                </li>
        </div>
    </div>
</nav>
<!-- end NAV -->

<header>
    <h1 class="text-center mt-5">Escritos</h1>
</header>
</div>

<main>
    <section class="py-3">
        <div class="container-fluid"> <!--Inicia container escritos-->
            <div class="d-flex justify-content-center row">
                <article class="scale escritos col-sm-12 col-md-5 shadow-lg mb-5 rounded m-2 rounded-top border-end border-bottom border-white">
                    <img class="rounded imagenEscritos" src="../img/escritos1.webp" alt="Escritos Camila Malumbres - Libros y escritos">
                    <p>Espero que te intervengas las veces que te haga falta. Que te preguntes, que te cuestiones, y que te banques no saber.</p>
                    <P>Espero que te mires y te guste lo que veas. Que te sepas entera o rota pero jamás porque si.</P>
                    <P>Espero que actualices tus deseos. Que te los pongas en frente y que puedas decidir.</P>
                    <P>Espero que te arriesgues a elegir porque es la única forma sana de poder seguir. </P>
                    <P>Espero que te diviertas sola y te rías con alguien más. Que el sonido del silbato sea escuchado, cuando quieras parar.</P>
                    <P>Espero que tus muertos se lleven algo pero imploro que no todo. Que tus pulmones abracen el aire y la libertad.</P>
                    <P>Espero que le agarres la mano al miedo y al dolor y que el único calefactor sean dos brazos mundanos.</P>
                    <P>Espero que el llanto siga siendo cotidiano y la música despertador.</P>
                    <P>Espero que dos más dos jamás te dé cuatro y que cuentes con los dedos para no olvidar la ayuda.</P>
                    <P>Espero que no te ofendas cuando el cuerpo se detenga y que no te enfades cuando el alma no responda.</P>
                    <P>Espero que tengas a mano los "si" y cercanos los "no". Espero que sepas cuándo usar cada uno.</P>
                    <P>Espero que persigas lo simple y rechaces lo rebuscado. Espero que cada bocado sea por gusto y no por obligación.</P>
                    <P>Espero que sigas siendo graciosa. Que te rías un montón. Que cambies de color la voz cuando asome la carcajada y que se escapen las lágrimas cuando desborde la emoción.</P>
                    <P>Espero que nunca pidas permiso, pero sí por favor. Espero que siempre escribas y que sigas siendo vos.</P>
                </article><!--End escrito I-->

                <article class="scale escritos col-sm-12 col-md-5 shadow-lg mb-5 rounded m-2 rounded-top border-end border-bottom border-white">
                    <img class="rounded imagenEscritos" src="../img/escritos2.webp" alt="Escritos Camila Malumbres - Libros y escritos">
                    <p>Te vas a caer. Algunas veces. No todas. Vas a querer quedarte ahí. Lo vas a conseguir. Un tiempo. No mucho. Vas a intentar estar de pie. Vas a sentir no poder. Te vas a levantar. Sin ganas pero con fuerza. Un rato vas a seguir. Erguida. A veces vas a dudar. Otras veces también.</p>
                    <p>Va a pasar algo. Al tiempo. Vas a creer que más vale el piso que el cielo. Vas a sentir que lo mejor es caer. Vas a desear hacerlo. Lo vas a conseguir. Otra vez. Vas a llorar. Seguido. Vas a sentir no poder. Vas a rogar salir de ahí. Vas a pedir por favor. No vas a saber a quién. Vas a implorar no repetir.</p>
                    <p>Vas a entender que no siempre lo profundo es lo más claro. Lo vas a decidir.</p>
                    <p>Vas a pedir ayuda. Varias veces. Vas a empezar a reír. No rápido. No tanto. Vas a correr sin escapar y caminar sin darte vuelta. Cada tanto te vas a girar. Igual. Vas a extrañar mirar atrás. Como antes.</p>
                    <p>Vas a reír. Otra vez. Te va a gustar el sonido que hacés cuando te permitís estar bien. Vas a estarlo. Un rato. Jamás demasiado. No te vas a mentir porque no te va a salir. Vas a tomar una hoja y vas a escribir.</p>
                    <p>Vas a usar tiempo pasado. Va a decir algo así: un día como ninguno dejé de sobrevivir.</p>
                </article><!--End escrito II-->

                <article class="scale escritos col-sm-12 col-md-5 shadow-lg mb-5 rounded m-2 rounded-top border-end border-bottom border-white">
                    <img class="rounded imagenEscritos" src="../img/escritos3.webp" alt="Escritos Camila Malumbres - Libros y escritos">
                    <p>Yo no sé por qué nos hablan tanto de la vida eterna, si no somos para siempre.</p>
                    <p>La primera vez que le vi la cara a la muerte fue en el living de mi casa. Llegué, abrí la puerta, y los vi, a mi hermano y mi papá, simulando un funeral. La difunta era una mojarrita y los invitados eran peluches distribuidos en ambos costados. No sé qué tan sugestionada tengo la escena, pero puedo jurar que fue real. Fue una de las veces en que debo haber registrado que no somos infinitos y que me alivió un poco saberlo, a pesar de lo trágico que resultaba aquel contexto que me lo estaba contando. Al otro día, el living de mi casa estuvo libre de agonía y se circulaba como si las horas de antes no hubiesen sido testigo de terrible despedida. Acabo de llamar a mi vieja para corroborar todo lo anterior y después de horrorizarse, se rió. Así funciona la muerte. Al principio no la querés ni cerca pero cuando pensás en lo eterno sabés que no puede ser real, ni humano, ni mucho menos factible.</p>
                    <p>7 de cada 10 personas se asumen como procrastinadores seriales. Es decir, que 7 de cada 10 personas juegan a que mañana habrá tiempo para hacer lo de hoy. Y ganas. Y voluntad. Y vida.</p>
                    <p>Hay relaciones que deberían estar terminando ahora.</p>
                    <p>Hay vuelos que deberían estar sacándose ahora.</p>
                    <p>Hay trabajos a los que se debería estar renunciando ahora.</p>
                    <p>Hay proyectos que deberían estar comenzando ahora.</p>
                    <p>Hay vínculos que deberían modificarse ya.</p>
                    <p>En un abrir y cerrar del tiempo, aparece un funeral y te llena de preguntas. De respuestas sólo hay una: mañana también lo vas a dejar para después.</p>
                    <p>Puede que tengas suerte, y tengas tiempo.</p>
                    <p>Puede que tengas realidad y no juegues a.</p>
                    <p>Puede que asumas que no somos para siempre y decidas algo.</p>
                </article><!--End escrito III-->

                <article class="scale escritos col-sm-12 col-md-5 shadow-lg mb-5 rounded m-2 rounded-top border-end border-bottom border-white">
                    <img class="rounded imagenEscritos" src="../img/escrito4.webp" alt="Escritos Camila Malumbres - Libros y escritos">
                    <p>Dice que no puede, pero que quiere poder. Que de las cuatro veces que lo intenta, se cae entre cinco o seis. Que ha disfrazado algunos números para ver si le dan las cuentas. Que entre más cosas para sumar, más tentadora la resta.</p>
                    <p>Que no le gusta lo que hay, que podría mejorar. Que cuánto más claro lo tiene, más rápido oscurece. Que es un riesgo caminar, pero que la quietud enloquece. Que no le gusta ese estado pero que pareciera que un poco si.</p>
                    <p>Dice que no puede, pero que quiere poder. Que cuando se propone dar el salto, el miedo le agarra los pies. Dice que a veces sigue, sabiendo que no va a continuar. Que entonces para y vuelve para atrás. Que así lo siente, dice, un sacudón y volver a empezar. Que es agotador y es personal. Que no le pasa a cualquiera. Que cuando aparece un deseo, el espejo se lo arrebata y que con las ganas le pasa igual. Que cuánto más se mira, más se engaña.</p>
                    <p>Dice que agacha la cabeza y los proyectos, con una facilidad que molesta. Que al final no sabe si quiere poder. Que es un quilombo. Que termina menos diez. Que tanto esfuerzo para qué.</p>
                    <p>Y acá para.</p>
                    <p>Se detiene.</p>
                    <p>Algo escucha.</p>
                    <p>Porque sabe, aunque se esfuerza en negarlo, que de diez patadas al arco puede que entre una sola. Que lo que más desespera es no saber cuál de todas va a ser. Que cansa patear pero que emociona aunque sea un gol. El gol. Ese gol. El que contesta para qué. Que no responde al ganar sino a la sensación que dio el patear. Ese patear. En esa jugada. El grito de un estadio. Pero sin gente. El silencio y el festejo de la mirada individual. La que más debería estar pero la que menos aparece.</p>
                    <p>Se relaja. Por que lo sabe y porque lo asume. Dice que quiere y que cree poder. Pero no el poder que le da la voluntad sino el poder que le da la espera. Y se sienta. Y se tranquiliza. Y respira.</p>
                    <p>Y dice "la gracia está en patear, no en que entre la pelota".</p>
                    <p>Y se ríe. Y vuelve a entrenar.</p>
                    <p>La espera no es pasiva.</p>
                </article><!--End escrito IV-->
            </div>
        </div> <!--End container escritos-->
    </section>
</main>

<!-- Inicio footer -->
<div>
    <footer class="text-center bgGradient">
    <!-- Grid container -->
    <div class="container pt-4">
        <!-- Inicio: Social media -->
        <section class="mb-4">
        <!-- Instagram -->
        <a class="scaleFooter btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/camila.malumbres/?hl=es" target="_blank" role="button" data-mdb-ripple-color="dark">
            <img src="../img/instagram.png" alt="Instagram - Camila Malumbres - Autora - libros y escritos - Los que no piden permiso ">
        </a>
        <!-- Linkedin -->
        <a class="scaleFooter btn btn-link btn-floating btn-lg text-dark m-1" href="https://ar.linkedin.com/in/camila-malumbres-774b37209" target="_blank" role="button" data-mdb-ripple-color="dark">
            <img src="../img/linkedin.png" alt="Linkedin - Camila Malumbres - Autora - libros y escritos - Los que no piden permiso ">
        </a>
        <!-- email -->
        <a class="scaleFooter btn btn-link btn-floating btn-lg text-dark m-1" href="mailto:malumbres9@gmail.com" target="_blank" role="button" data-mdb-ripple-color="dark">
            <img src="../img/email.png" alt="email - Camila Malumbres - Autora - libros y escritos - Los que no piden permiso ">
        </a>
        </section>
        <!-- End: Social media -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3 colorFooter2">
        <section>
            <p>© 2022 Camila Malumbres. All Rights Reserved.</p>
            <p>Diseno Web: Guido Quagliardi</p>
        </section>
    </div>
    <!-- Copyright -->
    </footer>
</div>
<!-- End footer -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>