<!doctype html>
<html lang="en">
    <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Meta SEO-->
    <meta name="description" content="Camila Malumbres, libros y escritos - Autora de Los que no piden permiso. Elegí escribir un libro, para llorar. Elegí publicarlo, para que llore alguien más. El llanto es otra forma de volver a nacer. La escritura no lo es menos.">
    <meta name="author" content="Guido Quagliardi">
    <meta name="keywords" content="libro,ebook, literatura, escritura creativa, cuentos, lectura, llorar">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Mi Css -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" href="../img/favicon.png">
    <title>Libro - Los que no piden permiso - Autora Camila Malumbres</title>
    </head>
<body class="bgFondo fondoLibros">

<div class="fondoLibros2">
<!-- inicia la NAV -->
<nav class="navbar navbar-expand-lg navbar-light fs-4 bgGradient3 sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">
            <img class="logo" src="../img/logo.svg" alt="Logo de Camila Malumbres - Libros y escritos - Autora - Los que no piden permiso">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="link navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="escritos.html">Escritos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="libros.html">Libros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="biografia.html">Biografía</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="contacto.html">Contacto</a>
                </li>
        </div>
    </div>
</nav>
<!-- end NAV -->

<header>
    <h1 class="text-center my-3">Libros</h1>
</header>
</div>

<main>
    <section>
        <div class="container-fluid"> <!--Inicia container-->
            <div class="d-flex justify-content-center row">
                <!--Inicia card-->
                <div class="bgGradient card col-md-5 m-3">
                    <img src="../img/lqnpp.webp" class="card-img-top" alt="Libro - Los que no piden permiso - Camila Malumbres">
                    <div class="card-body">
                        <section>
                            <h5 class="card-title fw-bold mb-3">Los que no piden permiso</h5>
                            <p>Vas a escuchar la directiva de alguien que dice “es acá”. Te vas a paralizar. Durante cinco minutos te van a poner un traje para que puedas entrar. Vas a sentir cómo los ojos se te empiezan a inundar. No vas a llorar ahí.</p>
                            <p>Vas a entrar a la habitación después de escuchar “tomate el tiempo que quieras”. Vas a pensar en el tiempo. Vas a querer que no exista. Vas a implorar que no pase.</p>
                            <p>Lo vas a ver. Vas a cerrar los ojos en un intento fallido de negar la realidad. Te va a doler.</p>
                        </section>
                    </div>
                    <ul class="list-group list-group-flush rounded border border-dark">
                        <li class="list-group-item colorLi"><b>Autor:</b> Camila Malumbres</li>
                        <li class="list-group-item colorLi"><b>Cantidad de páginas:</b> 78</li>
                        <li class="list-group-item colorLi"><b>Género:</b> Cuentos</li>
                        <li class="list-group-item colorLi"><b>Sello editorial:</b> Metrópolis Libros</li>
                        <li class="list-group-item colorLi"><b>Precio libro papel:</b> $1500</li>
                    </ul>
                    <div class="card-body">
                        <a class="btn-compra" href="https://www.tiendapam.com.ar/MLA-1110835470-los-que-no-piden-permiso-_JM#position=1&search_layout=stack&type=item&tracking_id=42a8976e-8140-40e5-aa98-fb05e5817d59" target="_blank" role="button">Comprar</a>
                    </div>
                </div>
                <!--End card I-->
                
                <div class="bgGradient card col-md-5 m-3">
                    <img src="../img/lqnpp2.webp" class="card-img-top" alt="Ebook, Libro - Los que no piden permiso - Camila Malumbres">
                    <div class="card-body">
                        <section>
                            <h5 class="card-title fw-bold mb-3">Los que no piden permiso | eBook</h5>
                            <p>Vas a escuchar la directiva de alguien que dice “es acá”. Te vas a paralizar. Durante cinco minutos te van a poner un traje para que puedas entrar. Vas a sentir cómo los ojos se te empiezan a inundar. No vas a llorar ahí.</p>
                            <p>Vas a entrar a la habitación después de escuchar “tomate el tiempo que quieras”. Vas a pensar en el tiempo. Vas a querer que no exista. Vas a implorar que no pase.</p>
                            <p>Lo vas a ver. Vas a cerrar los ojos en un intento fallido de negar la realidad. Te va a doler.</p>
                        </section>
                    </div>
                    <ul class="list-group list-group-flush rounded border border-dark">
                        <li class="list-group-item colorLi"><b>Autor:</b> Camila Malumbres</li>
                        <li class="list-group-item colorLi"><b>Cantidad de páginas:</b> 78</li>
                        <li class="list-group-item colorLi"><b>Género:</b> Cuentos</li>
                        <li class="list-group-item colorLi"><b>Sello editorial:</b> Metrópolis Libros</li>
                        <li class="list-group-item colorLi"><b>Precio eBook:</b> $800</li>
                    </ul>
                    <div class="card-body">
                        <a class="btn-compra" href="error404.html" role="button">Comprar</a>
                    </div>
                </div>
                <!--End card II-->
            </div>
        </div> <!--End container-->
    </section>
</main>

<!-- Inicio footer -->
<div>
    <footer class="text-center bgGradient">
    <!-- Grid container -->
    <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
        <!-- Instagram -->
        <a class="scaleFooter btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/camila.malumbres/?hl=es" target="_blank" role="button" data-mdb-ripple-color="dark">
            <img src="../img/instagram.png" alt="Instagram - Camila Malumbres - Autora - libros y escritos - Los que no piden permiso ">
        </a>
        <!-- Linkedin -->
        <a class="scaleFooter btn btn-link btn-floating btn-lg text-dark m-1" href="https://ar.linkedin.com/in/camila-malumbres-774b37209" target="_blank" role="button" data-mdb-ripple-color="dark">
            <img src="../img/linkedin.png" alt="Linkedin - Camila Malumbres - Autora - libros y escritos - Los que no piden permiso ">
        </a>
        <!-- email -->
        <a class="scaleFooter btn btn-link btn-floating btn-lg text-dark m-1" href="mailto:malumbres9@gmail.com" target="_blank" role="button" data-mdb-ripple-color="dark">
            <img src="../img/email.png" alt="email - Camila Malumbres - Autora - libros y escritos - Los que no piden permiso ">
        </a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3 colorFooter2">
        <section>
            <p>© 2022 Camila Malumbres. All Rights Reserved.</p>
            <p>Diseño Web: Guido Quagliardi</p>
        </section>
    </div>
    <!-- Copyright -->
    </footer>
</div>
<!-- End footer -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>